@import 'normalize.css/normalize.css';

* {
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
}

p {
    margin: 0;
    margin-bottom: 20px;
}

/* Text alignment */

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* Padding / Margin */

@for $i from 0 through 5 {
    $x: calc($i * 10px);
    /* Margin */
    .m-$i {
        margin: $x;
    }
    .mt-$i {
        margin-top: $x;
    }
    .mb-$i {
        margin-bottom: $x;
    }
    .ml-$i {
        margin-left: $x;
    }
    .mr-$i {
        margin-right: $x;
    }
    /* Padding */
    .p-$i {
        padding: $x;
    }
    .pt-$i {
        padding-top: $x;
    }
    .pb-$i {
        padding-bottom: $x;
    }
    .pl-$i {
        padding-left: $x;
    }
    .pr-$i {
        padding-right: $x;
    }
}
