/* Responsive Design */
$break-xs: 769px;
$break-sm: 992px;
$break-md: 1200px;

@mixin responsive($media) {
    @if $media == xs {
        @media only screen and (max-width: $break-xs) {
            @content;
        }
    }
    @elseif $media == sm {
        @media only screen and (max-width: $break-sm) {
            @content;
        }
    }
    @elseif $media == md {
        @media only screen and (max-width: $break-md) {
            @content;
        }
    } @else {
        @media only screen and (max-width: $media) {
            @content;
        }
    }
}
