@import '../../../assets/styles/responsive.pcss';

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

:local(header) {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 72px;

    & > div {
        width: 100%;
        flex-grow: 1;
    }
}

:local(section) {
    background-color: #f9f9f9;
    padding: 20px;
}

:local(footer) {
    position: absolute;
    bottom: 0;
    width: 100%;
}
