:local(.sierpContainer) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease;

    & > div {
        width: 33.333333%;
        height: 33.333333%;
    }

    &:hover {
        opacity: 0.8;
    }
}

:local(.sierpSqBlack) {
    width: 100%;
    height: 100%;
    background-color: #000;
}

:local(.sierpSqWhite) {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
