:local(nav) {
    background-color: #444;

    a {
        display: inline-block;
        color: #fff;
        text-decoration: none;
        padding: 10px;
        transition: background-color 0.5s ease;

        &.selected,
        &:hover {
            background-color: #333;
        }
    }
}
